p{
    background-color: rgb(180, 63, 135);
}

a{
    background-color: rgb(167, 187, 56);
}

div{
    background-color: rgb(169, 126, 239);
}

span{
    background-color: rgb(226, 77, 90);
}